<header class="sticky p-2 sm:px-6 z-50 top-0 w-full bg-white border-b border-solid">
   <div class="container-fluid">
      <div class="container max-w-screen-xl">
         <div class="flex">
            <div class="logo flex align-items-center leading-3 pr-12">
               <img class="w-14" src="./assets/img/dotSearch.png" alt="logo">
               <a class="text-3xl font-semibold cursor-pointer">Search<span class="text-red-500">.ip</span></a>
            </div>
            <div class="flex flex-1 align-items-center justify-content-between text-xl font-medium">
               <ul class="flex align-items-center">
                  <li class="pr-7 cursor-pointer">
                     <a href="/price">Pricing</a>
                  </li>
                  <li class="pr-7 pl-3 cursor-pointer relative">
                     <span class="
                        green__circl 

                        absolute 
                        bg-green-500 
                        rounded-full 
                        h-2 
                        w-2 
                        top-2.5 
                        left-0
                     "></span>
                     <a href="/status">Status</a>
                  </li>
                  <li class="pr-7 cursor-pointer">
                     <a href="/docs">Docs</a>
                  </li>
               </ul>
               <div class="flex align-items-center">
                  <a href="#" class="cursor-pointer">Login</a>
                  <div class="
                        cursor-pointer 
                        ml-3 
                        px-3 
                        py-2 
                        rounded 
                        bg-blue-700 
                        hover:bg-blue-800 
                        transition-all 
                        duration-300 liner
                     ">
                     <a href="#" class="color-white">Start For Free</a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</header>


